/* Scss Document */
@font-face {
  font-family: 'AdageScriptJF';
  src: url('fonts/AdageScriptJF.eot');
  src: url('fonts/AdageScriptJF.eot?#iefix') format('embedded-opentype'),
    url('fonts/AdageScriptJF.woff2') format('woff2'),
    url('fonts/AdageScriptJF.woff') format('woff'),
    url('fonts/AdageScriptJF.ttf') format('truetype'),
    url('fonts/AdageScriptJF.svg#AdageScriptJF') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 62.5%;
	height:100%;
}
body {
	padding:0;
	margin:0;
	-webkit-text-size-adjust: none;
	font-size:1.6rem;
	line-height:1.15;
	font-family: sofia-pro, sans-serif;
	font-weight:300;
	overflow-x:hidden;
}
* {
	box-sizing:border-box;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	letter-spacing: -.05rem;
}
.woocommerce-error li {
	&:before {
		display:none !important;
	}
}
.woo-side aside ul li a.active:before {
    background-color: #333f42!important;
}
.prod-grid {
	margin:4rem 0;
}
.center-this {
	text-align: center;
}
a, a:hover {
	text-decoration: none;
	transition:all 0.3s ease-in;
}
.zoomImg {
	min-width:1500px !important;
}
.row {
	width:100%;
	float:left;
	&.center {
		text-align: center;
	}
}
.dl-type-row {
	margin:-5rem 0 0;
	border-bottom:0 !important;
	font-weight:700;
}
.gfield_consent_label {
	width:auto !important;
	float:none !important;
}
.inside {
	width:1400px;
	max-width:100%;
	margin:0 auto;
}
.main-shop {
	.woocommerce-products-header__title {
		display:none;
	}
	li {
		&:before {
			display:none !important;
		}
	}
	&.singular {
		padding:2rem 0 6rem;
	}
}
.marg {
	margin:0 -1.5rem;
	display:flex;
	flex-wrap: wrap;
	&.center {
		align-items: center;
	}
	&.bottom {
		align-items: flex-end;
	}
	.quart {
		width:25%;
		padding:0 1.5rem;
		float:left;
	}
	.third {
		width:33.333333333%;
		padding:0 1.5rem;
		float:left;
	}
	.half {
		width:50%;
		padding:0 1.5rem;
		float:left;
		&.more-right {
			padding-right:10rem;
		}
	}
	.fourty {
		width:40%;
		padding:0 1.5rem;
	}
	.twenty {
		width:20%;
		padding:0 1.5rem;
		float:left;
	}
	.thirty {
		width:30%;
		padding:0 1.5rem;
		float:left;
	}
	.sixty {
		width:60%;
		padding:0 1.5rem;
		float:left;
		&.extra-padd {
			padding:10rem 1.5rem;
			p {
				width:50rem;
				max-width:100%;
			}
		}
	}
	.seventy {
		width:70%;
		padding:0 1.5rem;
		float:left;
	}
	&.account-halves {
		.half {
			&:first-of-type {
				padding-right:6rem;
				border-right:.1rem solid #eeeeee;
			}
			&:last-of-type {
				padding-left:6rem;
			}
		}
	}
	&.no-flex {
		flex: none;
	}
}
img {
	height:auto !important;
	max-width: 100%;
}
.button-wrap {
	margin:1rem 0 0;
}
.button {
	padding:1.5rem 1rem 1.7rem;
	border-radius: 2.5rem;
	display:inline-block;
	font-weight:600;
	line-height:1;
	font-size:1.6rem;
	cursor:pointer;
	min-width:19rem;
	text-align: center;
	transition:all 0.3s ease-in;
	&.green {
		background-color: $medgreen;
		color:#fff;
		&:hover {
			background-color: $lightgreen;
		}
	}
	&.lightgreen {
		background-color: $lightgreen;
		color:#fff;
		&:hover {
			background-color: $medgreen;
		}
	}
	&.more-marg {
		margin-top:3rem
	}
	&.no-rad {
		border-radius: 0 !important;
		&.woocommerce {
			border-radius:0;
		}
	} 
}
.wrap-insp {
	margin-bottom:-5rem;
}
.woocommerce .products ul, .woocommerce ul.products {
	width:100%;
}
.woocommerce-error, .woocommerce-message {
	//display:flex;
	padding-left:5rem !important;
}
.page-content {
	padding:5rem 0;
	&.h-img-h-content {
		padding:8rem 0;
		.half {
			&:first-of-type {
				padding-right:5rem;
			}
			&:last-of-type {
				padding-left:5rem;
			}
		}
	}
	form {
		input[type="text"], input[type="email"], textarea, input[type="tel"], input[type="password"] {
			border:0;
			-webkit-appearance: none;
			background-color: #f2f2f2;
			border-radius:.5rem;
			padding:1.5rem !important;
			float:left;
			width:100%;
			resize:vertical;
			outline:0;
		}
		.gchoice {
			label {
				width:auto;
				float:none;
			}
		}
		.gfield, .ginput_container {
			padding:0;
			float:left;
			width:100%;
			&.ginput_container_consent {
				position:relative;
				input {
					position:absolute;
					left:0;
					top:.1rem;
				}
				label {
					padding-left:2.5rem;
					float:left !important;
					width:100% !important;
					opacity:.65;
				}
			}
		}
		label {
			float:left;
			width:100%;
			font-weight:300 !important;
		}
		textarea {
			height:15rem !important;
		}
		input[type="submit"] {
			border:0;
			-webkit-appearance: none;
			color:#fff;
			background-color: $lightgreen;
			cursor:pointer;
			font-family: sofia-pro, sans-serif;
			&:hover {
				background-color: $darkgreen;
			}
		}
		.gfield_required {
			display:none;
		}
	}
}
.gform_wrapper {
	display:block !important;
}
.crumbs {
		padding:1.5rem 0 1.7rem;
		background-color: $darkgreen;
		color:#fff;
		font-weight:500;
		a {
			color:#fff;
			font-weight:200;
			&:hover {
				color:$lightgreen;
			}
		}
	}
.hero-and-crumbs {
	.hero-top {
		position:relative;
		padding:10rem 0;
		img {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100% !important;
			z-index:1;
			object-fit: cover;
		}
		color:#fff;
		h1 {
			position:relative;
			z-index:3;
			color:#fff;
		}
		&:before {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			content:'';
			background-color: $darkestgreen;
			z-index:2;
			mix-blend-mode: multiply;
		}
	}
}
.stnd-content {
	a {
		color:$lightgreen;
		&:hover {
			text-decoration: underline;
		}
	}
	h2, h3 {
		color:$medgreen;
	}
	ul {
		margin-left:0;
		padding-left:0;
		list-style:none;
		li {
			position:relative;
			padding:0 0 0 2rem;
			margin:0 0 .5rem;
			&:before {
				position:absolute;
				content:'';
				width:1rem;
				display:inline-block;
				top:.5rem;
				left:0;
				height:1rem;
				border-radius:50%;
				background-color: $lightgreen;
			}
		}
	}
	.table-wrap {
		overflow: auto;
		padding-bottom:3.5rem;
		table {
			min-width:75rem;
			border-left:.1rem solid #ccc;
			margin:3rem 0 0;
			border-collapse: collapse;
			td {
				padding:1rem;
				border-bottom:.1rem solid #ccc;
				border-top:.1rem solid #ccc;
				border-right:.1rem solid #ccc;
			}
		}
	}
}
[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%; /* Not required for horizontal scroll to trigger */
  max-height: 100%; /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: ' ';
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
	background-color:#eaeaea;
  border-radius: 7px !important;
	.simplebar-scrollbar {
		top:0 !important;
		height:100% !important;
		&:before {
			background-color: $lightgreen !important;
			opacity:1 !important;
		}
	}
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */
[data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.testers {
	.half {
		margin:0 0 3rem;
		display: flex;
		flex-direction: column;
	}
	.tester-content {
		flex:1;
	}
	.tester-person {
		margin-top:1.5rem;
	}
	.testimonial-box {
		background-color: $darkgreen;
		color:#fff;
		padding:4rem;
		display: flex;
		flex:1;
		flex-direction: column;
	}
}
.test-snippet {
	padding:14rem 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color:#fff;
	.tester-snippet {
		font-weight:700;
		font-size:2rem;
		font-style: italic;
	}
	h2 {
		color:#fff;
	}
}
.large-img-w-content {
	position:relative;
	padding:22rem 0;
	img {
		position:absolute;
		left:0;
		top:8rem;
		height:calc(100% - 16rem) !important;
		width:calc(60%);
		object-fit: cover;
	}
}
.collections-slider {
	color:#fff;
	overflow:hidden;
	padding-bottom:15rem;
	padding-top:0;
	.collections-slider-inner {
		background-color: $darkgreen;
		padding:8rem 0 0;
	}
	h2 {
		color:#fff;
		margin-bottom:1.5rem;
	}
	.make-v-slider {
		.collections-slider-link {
			width:65rem !important;
			float:left;
			padding:0 1.5rem;
			position:relative;
			.collection-slider-title {
				position:absolute;
				bottom:3rem;
				width:calc(100% - 9rem);
				left:4.5rem;
				background-color: $lightgreen;
				color:#fff;
				font-weight:600;
				padding:2rem 1.5rem 2.3rem;
				font-size:2rem;
				svg {
					width:2.5rem;
					position:absolute;
					top:2rem;
					right:2rem;
					path {
						fill:#fff;
					}
				}
			}
			img {
				transition: all 0.3s ease-in;
			}
			&:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
	.inside {
		overflow: visible !important;
	}
	.wrap-videos {
		width:150% !important;
		margin: 2.5rem 0 -8rem 0;
	}
	.wrap-collections-slider-intro {
		position:relative;
		.collections-slider-buttons {
			position:absolute;
			top:0;
			right:0;
			div {
				height:6rem;
				width:6rem;
				display:inline-block;
				background-color: $lightgreen;
				cursor:pointer;
				margin:0 0 0 1rem;
				text-align: center;
				line-height:7.2rem;
				&:hover {
					background-color: $medgreen;
				}
				svg {
					width:2.5rem;
					path {
						fill:#fff;
					}
				}
			}
		}
	}
}
// WOO
.woo-side {
	float:left;
	width:28rem;
	background-color: #fafafa;
	padding:2rem;
	aside {
		float:left;
		width:100%;
		margin:0 0 2.5rem;
		border-bottom:0.1rem solid #d2d2d2;
		h3 {
			float:left;
			width:100%;
			font-size:1.7rem;
			color:$darkgreen;
			font-weight:600 !important;
			position:relative;
			&:after {
				content:'Show';
				text-decoration: underline;
				position:absolute;
				right:0;
				cursor:pointer;
			}
			&.open {
				&:after {
					content:'Hide';
				}
			}
		}
		&.yith-woo-ajax-navigation > ul {
			display:none;
			padding:0 0 2.5rem;
		}
		ul {
			float:left;
			width:100%;
			li {
				margin:.5rem 0;
				padding:0;
				a {
					font-weight:300;
					float:left;
					width:100%;
					color:$darkgreen;
					font-size:1.7rem;
					position:relative;
					padding:1rem 3.5rem 1rem 3.5rem;
					z-index:3;
					&:before {
						position:absolute;
						top:1rem;
						left:0;
						width:1.8rem !important;
						height:1.8rem !important;
						border-radius:50%;
						background: none !important;
						border:.2rem solid $darkgreen;
					}
					&:hover {
						text-decoration: none !important;
						&:before {
							background-color: $darkgreen !important;
						}
					}
				}
				small {
					position:absolute;
					right:0;
					top:.8rem;
					font-size:1.7rem;
					z-index:2;
					&:before {
						content:'(';
					}
					&:after {
						content:')';
					}
				}
				&.chosen {
					a {
						&:before {
							background-color: $darkgreen !important;
						}
					}
				}
			}
			&.yith-wcan-color {
				li {
					width:100%;
					float:none;
					margin:1.5rem 0;
					a {
						overflow:visible !important;
						font-size:0;
						width:2rem !important;
						float:none !important;
						&:before {
							font-size:1.7rem !important;
							position:absolute;
							top:0;
							left:100%;
							margin:0 0 0 1rem;
							width:auto !important;
							height:auto !important;
							border:0;
							content: " (" attr(title) ")" !important;
							text-indent: 0;
							background-color: transparent !important;
							text-indent: 0 !important;
						}
					}
				}
			}
		}
	}
	.yith-wcan-reset-categories-link {
		text-transform: none !important;
		font-size:1.7rem !important;
		&:before {
			display:none;
		}
	}
}
.woo-side {
	aside {
		&:first-of-type {
			> ul {
				display:block;
			}
		}
	}
}
.products {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.woo-main {
	padding:0 0 0 32rem;
	display:block;
	&.alt {
		padding:0 5rem 0 0;
		width:75%;
		background-color: transparent;
	}
	&.alt-main {
		padding:0 0 0 0;
		width:75%;
	}
	&.no-p {
		padding-left:0;
	}
	&.fill-woo-main {
		width:100%;
	}
}
.woo-side{
	&.alt {
		width:25%;
	}
	&.alt-main {
		width:25%;
		padding-left:0;
		background-color: transparent;
	}
}
.woo-sort {
	text-align: right !important;
	padding:0 0 3rem;
	> * {
		display:inline-block;
		float:none !important;
		vertical-align: middle;
	}
	.woocommerce-result-count {
		margin:0 2rem 0 0 !important;
		color:#9d9d9d;
		font-weight:300;
	}
	form {
		margin:0 !important;
	}
	.nice-select {
		background-color: $lightgreen;
		color:#fff;
		border:0;
		font-weight:600;
		padding-right:6rem;
		&:after {
			border-color:#fff;
			top:1.8rem;
			right:2rem;
		}
		.list {
			left:auto;
			right:0;
			border:0;
			background-color: $lightgreen;
			color:#fff;
			box-shadow:none !important;
			li {
				&:before {
					display:none !important;
				}
				margin:0;
				font-weight:600;
				&:hover, &.selected {
					background-color: $darkgreen;
				}
			}
		}
	}
}
.woocommerce span.onsale {
	width:9rem !important;
	height:auto !important;
	border-radius:0 !important;
	min-height:1rem !important;
  padding: 1.1rem 0 !important;
	line-height:1 !important;
}
.pager {
	//display:none;
}
.loader-ellips {
	background-image: url(images/ajax-loader.gif);
	background-repeat: no-repeat;
	background-size: contain;
	width:3rem;
	height:3rem;
	margin:0 auto;
}
.page-load-status {
  display: none; 
	padding:0 0 2rem;
	text-align: center;
}
.woocommerce li.product {
	display: flex;
  flex-direction: column;
	background-color: $darkgreen;
	a {
		color:#fff !important;
		overflow:hidden;
		h2 {
			color:#fff !important;
			font-size:1.8rem!important;
			transition: all 0.3s ease-in;
			&:hover {
				color:$lightgreen !important;
			}
			background-color: $darkgreen;
			position:relative;
			z-index:1;
		}
		img {
			margin:0 !important;
			transition:all 0.3s ease-in;
		}
		&:hover {
			img {
				 transform:scale(1.05);
			}
		}
	}
	.added_to_cart {
		display:none !important;
	}
	.button {
		width:100% !important;
		text-align: center;
		border-radius:0 !important;
		padding:2rem 1.5rem !important;
		vertical-align: bottom;
	}
	.price {
		padding:0 2rem;
		color:#fff !important;
		font-weight:600 !important;
		flex:1;
	}
	#yith-wcwtl-output {
		display:none;
	}
	.stock {
		padding:0 2rem;
		color:#fff !important;
		font-weight:600 !important;
		flex:1;
		margin:0 !important;
    font-size: .857em;
	}
	.product-meta {
		flex:1;
	}
	h2 {
		padding:2rem 2rem .5rem !important;
	}
}
.product-meta {
		vertical-align: middle;
		padding:0 2rem 2rem !important;
		font-size:1.4rem;
		a {
			&:hover {
				color:$lightgreen !important;
			}
		}
		color:#fff;
		div {
			&.skus {
				&:after {
					margin:0 .5rem;
					content:'';
					width:.5rem;
					height:.5rem;
					display:inline-block;
					border-radius: 50%;
					background-color:#fff;
					vertical-align: middle;
				}
			}
			display:inline-block;
			vertical-align: middle;
		}
	}
#yith-woo-ajax-reset-navigation-3 {
	margin:10rem 0 0;
	text-align: center;
	border:0 !important;
	padding:0 !important;
}
.woocommerce-breadcrumb {
	font-weight:600;
	color:$darkgreen !important;
	padding-bottom:4rem !important;
	border-bottom:0.1rem solid #eeeeee;
	margin-bottom:4rem !important;
	a {
		font-weight:300;
		color:$darkgreen !important;
	}
}
.main-shop {
	.type-product {
		display: flex;
		flex-direction: row;
		float:left;
		width:100%;
    padding: 0 4rem;
		.summary {
			width:35% !important;
			padding-left:3rem;
			padding-right:5rem;
			display:flex;
			.wrap-summary {
				background-color: $darkgreen;
				padding:3.5rem 3.5rem 0;
				color:#fff;
				display:flex;
				flex-direction: column;
				h1 {
					color:#fff;
					font-size:2.5rem;
					margin:0 0 1.5rem;
				}
				.woocommerce-Price-amount, .price, .stock {
					color:#fff !important;
					font-weight:700;
				}
				.product-meta {
					padding-left:0 !important;
					a {
						color:#fff !important;
					}
				}
				.prod-tags {
					flex:1;
					color:#5b676a;
					margin:0 0 2rem;
					font-size:1.5rem;
					a {
						color:#5b676a;
						&:hover {
							color:$lightgreen;
						}
					}
				}
				.short-desc {
					margin:0 0 2rem;
				}
				.stock {
					flex:1;
				}
				.view-full-desc {
					color:#fff;
					border-bottom:0.1rem solid #fff;
					display:inline-block;
					margin:2rem 0 0;
					padding-bottom:.4rem;
					&:hover {
						color:$lightgreen;
						border-color:$lightgreen;
						text-decoration: none;
					}
				}
				.price {
					span bdi {
						font-size:1.6rem !important;
					}
				}
				form {
					margin:0 -3.5rem;
					.quantity, button {
						width:100%;
					}
					button {
						border-radius:0 !important;
						padding:2rem 1.5rem 2.2rem !important;
						font-family: sofia-pro, sans-serif;
					}
					.quantity, .plus, .minus {
						float:left;
						width:auto;
						margin-bottom:3rem;
					}
					.minus {
						margin-left:3.5rem;
						background-image: url(images/minus-01.svg);
						background-position: center;
						background-repeat: no-repeat;
						background-size:2rem auto;
					}
					.plus {
						background-image: url(images/plus-01.svg);
						background-position: center;
						background-repeat: no-repeat;
						background-size:1.75rem auto;
					}
					.plus, .minus {
						cursor:pointer;
						color:#fff;
						background-color: #47575c;
						width:4.3rem;
						height:4.3rem;
						line-height:3rem;
						text-align: center;
						font-size:4rem;
						transition:all 0.3s ease-in;
						&:hover {
							background-color: $lightgreen;
						}
					}
					.quantity {
						input {
							background-color: $darkgreen;
							padding:1rem;
							color:#fff;
							font-weight:700;
							font-size:2rem;
							border:0;
							box-shadow:none;
							-webkit-appearance: none;
							width:5rem;
						}
						input::-webkit-outer-spin-button,
						input::-webkit-inner-spin-button {
							-webkit-appearance: none;
							margin: 0;
						}

						/* Firefox */
						input[type=number] {
							-moz-appearance: textfield;
						}
					}
				}
				.wrap-sign-up-button {
					margin:0 -3.5rem;
					vertical-align: bottom;
					.button.no-rad {
						padding:2rem 1.5rem 2.2rem !important;
						width:100%;
						text-align: center;
						border-radius:0 !important;
						vertical-align: bottom;
					}
				}
			}
		}
		.wrap-mobile-thumbs {
			display:none;
			li {
				list-style: none;
			}
		}
		.woocommerce-product-gallery {
			width:65% !important;
			display:flex;
			flex-direction: row-reverse;
			padding-left:8rem;
			align-items: center;
			.bx-wrapper {
				width:30%;
				max-width:17rem !important;
				li {
					float:left;
					width:100% !important;
					border:0.1rem solid #eeeeee;
					height:25% !important;
					&.thumb {
						width:auto !important;
					}
				}
				.bx-controls {
					position:absolute;
					left:0;
					top:50%;
					transform: translateY(-50%);
					width:5rem;
					font-size:0;
					.bx-prev, .bx-next {
						font-size:0;
						width:100%;
						display:inline-block;
						height:5rem;
						margin:0.5rem 0;
						background-color: $lightgreen;
						background-size: 1.25rem auto;
						background-repeat: no-repeat;
						background-position: center;
						&.disabled {
							opacity:0.5;
							cursor:not-allowed;
						}
						&:hover {
							background-color: $darkgreen;
						}
					}
					.bx-prev {
						background-image: url(images/arrowup.png);
					}
					.bx-next {
						background-image: url(images/arrowdown.png);
					}
				}
			}
			.flex-viewport {
    		width: 70%;
				border:0.1rem solid #eeeeee;
				margin-left:3rem !important;
				height:100% !important;
				.woocommerce-product-gallery__image {
					height:100%;
					display:flex !important;
					align-items: center;
					a {
						display: flex;
						justify-content: center;
						align-items: center;
						height:100% !important;
						object-fit: cover;
						width:100% !important;
					}
				}
				figure {
					height:100%;
				}
			}
			.custom-slider {
				width: 70%;
				float:left;
				border:0.1rem solid #eeeeee;
				margin-left:3rem !important;
				//height:100% !important;
				.bx-wrapper, .bx-viewport {
					//height:100% !important;
					float:left;
				}
				.bx-viewport {
					top: 0;
    			transform: none;
				}
				.bx-wrapper {
					width:100% !important;
					max-width:100% !important;
				}
				.custom-image-slider, .custom-image-slide {
					height:100% !important;
					a {
						display: flex;
						justify-content: center;
						align-items: center;
						height:100% !important;
						object-fit: cover;
						width:100% !important;
					}
				}
			}
			.custom-open-slide-img {
				opacity:.5;
				&.active, &:hover {
					opacity:1;
				}
			}
		}
	}
}
.woocommerce-Tabs-panel {
	padding-top:0;
	display:none;
	float:left;
	width:100%;
	h2 {
		&:first-of-type {
			display:none;
		}
	}
}
.woocommerce table.shop_attributes {
	text-align: left;
}
.tabs-area {
	padding:4rem 0;
	.tabs {
		li {
			font-weight: 600;
			font-size: 2rem;
			color:$darkgreen;
			a {
				float:left;
				width:100%;
				color:$darkgreen;
				position:relative;
				padding:2rem 6rem 2.5rem 0 !important;
				&:hover {
					color:$lightgreen;
					text-decoration: none;
				}
				&:after {
					content:'';
					position:absolute;
					right:0;
					top:2rem;
					width:4rem;
					height:4rem;
					background-color: $darkgreen;
					color:#fff;
					float:left;
					background-image: url(images/plus-01.svg);
					background-position: center;
					background-repeat: no-repeat;
					background-size:1.75rem auto;
					transition:all 0.3s ease-in;
				}
				&:hover {
					&:after {
						background-color: $lightgreen;
					}
				}
			}
			&.open {
				a {
					&:after {
						background-image: url(images/minus-01.svg);
					}
				}
			}
			border-bottom:0.1rem solid #eeeeee;
			float:left;
			width:100% !important;
			padding:0 !important;
		}
	}
}
.banner {
	padding:4rem 0 0;
	img {
		width:100%;
	}
}
.wrap-crumbs {
	position:relative;
	.woocommerce-breadcrumb {
		padding-top:1.5rem !important;
	}
	.woo-nav {
		position:absolute;
		right:0;
		top:0;
		color:#9d9d9d;
		font-weight:300;
		a {
			background-color: $lightgreen;
			width:4rem;
			height:4rem;
			display:inline-block;
			margin:0 0 0 1rem;
			vertical-align: middle;
			text-align: center;
			line-height:4.8rem;
			&:hover {
				background-color: $darkgreen;
			}
			svg {
				width:2rem;
				path {
					fill:#fff;
				}
			}
		}
		span {
			display:inline-block;
			vertical-align: middle;
			font-size:1.5rem;
		}
	}
}
.woocommerce-notices-wrapper {
	float:left;
	width:100%;
}
.feat-prod {
	padding:7.5rem 0 !important;
}
.featured-category {
	padding:10rem 0 3.5rem !important;
	background-color:#f8f8f8;
}
.flexer {
	display:flex;
	align-items: center;
	&.top {
		align-items: flex-start;
	}
}
.all-collections {
	padding:7.5rem 0;
	.half {
		display:flex;
	}
	.col-grid-item {
		margin:0 0 3rem;
		border:0.1rem solid #eeeeee;
		padding-bottom:12rem;
		position:relative;
		.img-wrap {
			position:relative;
			img {
				width:100%;
			}
		}
		.collection-slider-title {
			position:absolute;
			bottom:3rem;
			width:calc(100% - 9rem);
			left:4.5rem;
			background-color: $lightgreen;
			color:#fff;
			font-weight:600;
			padding:2rem 1.5rem 2.3rem;
			font-size:2rem;
			svg {
				width:2.5rem;
				position:absolute;
				top:2rem;
				right:2rem;
				path {
					fill:#fff;
				}
			}
		}
		img {
			transition:all 0.3s ease-in;
		}
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
	}
}
.hidden-pager {
	display:none;
}
.showing {
	color:#9d9d9d;
	font-weight:300;
	padding:1rem 0 0;
}
.filter-collections {
	padding:0 8rem 4rem;
	font-size:0;
	text-align: center;
	.letter {
		display:inline-block;
		cursor:pointer;
		padding:1rem 1.5rem;
		font-size:1.6rem;
		border-bottom: .1rem solid #bebebe;
		border-top: .1rem solid #bebebe;
		border-left: .1rem solid #bebebe;
		border-right: .1rem solid #bebebe;
		color:$darkgreen;
		font-weight:500;
		font-size:1.5rem;
		margin:0 0 1rem -.1rem;
		text-transform: uppercase;
		&:last-of-type {
			border-right: .1rem solid #bebebe;
		}
		&.active, &:hover {
			background-color: #eeeeee;
		}
		&.disabled {
			span {
			opacity:.18;
			}
			cursor:default;
			&:hover {
				background-color: transparent !important;
			}
		}
		&.alt {
			text-transform: none;
			padding:1.5rem 2.5rem;
		}
	}
}
.more-inf {
	color:#fff;
	background-color: $darkgreen;
	position:relative;
	.abs-image-insp-alt {
		height:100% !important;
		width:50%;
		position:absolute;
		left:0;
		top:0;
		object-fit: cover;
	}
	h2 {
		color:#fff;
	}
	.half {
		padding:15rem 2rem 15rem 6rem;
	}
}
.wrap-summary {
	#yith-wcwtl-output {
		margin-bottom:4rem;
		color:#fff !important;
		p, label {
			color:#fff !important;
		}
	}
	label {
		margin:0 0 2rem !important;
	}
}
.hero {
	position:relative;
	padding:25rem 0;
	overflow:hidden;
	&.alt {
		padding:0;
		.slide {
			padding:25rem 0;
			position:relative;
			.button {
				margin:0 1rem 1rem 0;
			}
		}
		.bx-controls {
			position:absolute;
			z-index:100;
			bottom:7rem;
			left:0.1rem;
			float:left;
			width:100%;
			.bx-pager {
				margin:0 auto;
				width:1400px;
				max-width:100%;
				.bx-pager-item {
					display:inline-block;
					a {
						width:1.25rem;
						height:1.25rem;
						border-radius:50%;
						font-size:0;
						margin:0 .5rem 0 0;
						background-color: #575f61;
						transition: all 0.3s ease-in;
						display:inline-block;
						&.active {
							background-color: #fff;
						}
					}
				}
			}
		}
	}
	h1, h2 {
		color:#fff;
	}
	color:#fff;
	background-color: $darkestgreen;
	.hero-image {
		position:absolute;
		right:0;
		top:0;
		width:60%;
		height:100% !important;
		object-fit: cover;
	}
	.fourty {
		padding-right:11rem;
	}
}
.features-collection {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding:15rem 0;
	.feature {
		background-color: $darkgreen;
		color:#fff;
		margin:1.5rem 0;
		padding:3rem 4rem 2rem;
		h2, h3 {
			color:#fff;
		}
	}
}
.faq-cat {
	margin:0 0 4rem;
	.faq {
		border-bottom:.1rem solid #eeeeee;
		padding:2rem 0;
		.faq-title {
			font-size:1.8rem;
			cursor: pointer;
			position:relative;
			span {
				position:absolute;
				right:0;
				top:0;
				width:2rem;
				height:2rem;
				transition:all 0.3s ease-in;
				background-size: contain;
				background-image: url(images/plus-01green.svg);
				background-repeat: no-repeat;
			}
			&.open {
				span {
					background-image: url(images/minus-01green.svg);
				}
			}
		}
		.faq-answer {
			padding:1rem 0 0;
			display:none;
		}
	}
}
.contact-area-links {
	margin:1.5rem 0 1rem;
	padding-bottom:3rem;
	border-bottom:.1rem solid #eeeeee;
	svg, span {
		display:inline-block;
		vertical-align: middle;
	}
	a {
		color:$darkgreen;
		display:inline-block;
		margin:0 0 1rem;
	}
	svg {
		background-color: $lightgreen;
		width:6rem;
		padding:1.5rem;
		border-radius:.5rem;
		height:6rem;
		margin:0 1.5rem 0 0;
		path {
			fill:#fff;
		}
	}
}
.four-04 {
	text-align: center;
	padding:7.5rem 0 10rem;
}
.woocommerce-cart {
	input[type="number"] {
		border:0;
		-webkit-appearance: none;
		background-color: #f2f2f2;
		border-radius:.5rem;
		padding:1.5rem !important;
		width:100%;
		resize:vertical;
		outline:0;
		width:7rem !important;
	}
	.woocommerce a.remove {
		line-height:.75;
		display:inline-block !important;
	}
	.product-remove {
		text-align: center;
	}
	.product-thumbnail {
		text-align: center;
		img {
			width:10rem !important;
		}
	}
	.wc-proceed-to-checkout a.checkout-button {
		display:inline-block !important;
	}
	tr {
		td {
			border-bottom:0 !important;
			&:last-of-type {
				border-right:0;
			}
		}
	}
	.table-wrap table {
		min-width:10px !important;
	}
}
.woocommerce-checkout {
	.wc_payment_methods {
		li {
			&:before {
				display:none !important;
			}
		}
	}
	.wc_payment_method {
		&:before {
			display:none !important;
		}
	}
	.stripe-card-group {
		input[type="text"] {
			border:0;
			-webkit-appearance: none;
			background-color: #f2f2f2;
			border-radius:.5rem;
			padding:1.5rem !important;
			float:left;
			width:100%;
			resize:vertical;
			outline:0;
		}
	}
	.payment_box {
		float:left;
		width:100%;
	}
	.woocommerce-SavedPaymentMethods-saveNew label, .wc_payment_method label {
		width:auto;
		float:none;
	}
	.stripe-card-group {
		float:left;
		width:100%;
	}
	.wc-stripe-elements-field {
			border:0;
			-webkit-appearance: none;
			background-color: #fff;
			border-radius:.5rem;
			padding:1.5rem !important;
			float:left;
			width:100%;
			resize:vertical;
			outline:0;
	}
}
form.login {
	padding:0 !important;
	border:0 !important;
}
.news-item {
	display:flex;
	flex-wrap:wrap;
	flex-direction: column;
		.cta-box-info {
			background-color: $darkgreen;
			transition:0.3s all ease-in;
			flex:1;
			color:#fff;
			display:flex;
			flex-direction: column;
			padding:4rem;
			.blurb {
				flex:1;
			}
			h3 {
				color:#fff;
				margin:0 0 1.5rem;
				a {
					&:hover {
						color:$lightgreen;
					}
				}
			}
			.green {
				color:$lightgreen;
				font-weight:600;
				&:hover {
					color:#fff;
				}
			}
		}
		img {
			display:inline-block;
			vertical-align: middle;
			transition:all 0.3s ease-in;
		}
		a {
			color:#fff;
			&:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
	.blurb {
		p {
			&:first-of-type {
				margin-top:0;
			}
		}
	}
	.wrap-cats-loop {
		margin:0 0 1.5rem;
		a {
			color:$lightgreen;
			font-weight:600;
			&:hover {
				color:#fff;
			}
		}
		li {
			float:left;
			list-style:none;
			&:before {
				display:none;
			}
		}
	}
	// WIDER
	&.wider {
		flex-direction: row;
		.img-item-news {
			float:left;
			width:25rem;
			a {
				height:100%;
				float:left;
				img, .img-wrap {
					height:100% !important;
					object-fit: cover;
				}
			}
		}
		.wrap-cta {
			float:left;
			display:flex;
			.cta-box-info {
				flex:1;
				padding:4rem;
			}
		}
		.img-item-news {
			width:25rem !important;
			min-height:100%;
			height:25rem !important;
		}
		position:relative;
		padding:0 0 0 25rem;
		flex:1;
		//min-height:25rem;
		&.flip {
			padding: 0 25rem 0 0;
			.img-item-news {
				left:auto;
				right:0;
			}
		}
	}
	// WIDEST
	&.widest {
		width:calc(40% + 35rem);
		padding:0;
		.img-item-news {
			width:50%;
			left:auto;
			right:0;
			height:100%;
		}
		.wrap-cta {
			width:50%;
			display:flex;
			flex:1;
		}
	}
	// SMALLEST
	&.smallest {
		width:calc(40% - 27rem);
		flex:1;
		margin:0 0 0 3rem;
		padding:0;
		.wrap-cta {
			flex: 1;
    	display: flex;
		}
		&:last-of-type {
			//margin-left:1.5rem;
			//margin-right:1.5rem;
		}
	}
	// STANDARD
	position:relative;
	padding-top:25rem;
	overflow:hidden;
	.img-item-news {
		position:absolute;
		height:25rem;
		top:0;
		left:0;
		object-fit:cover;
		img {
			height:100% !important;
			object-fit: cover;
		}
		.img-wrap {
			height:100% !important;
		}
	}
}
.flex-this {
	display:flex;
	flex-direction:row;
	.sixty {
		flex-direction: column;
		.news-item {
			&:first-of-type {
				margin-bottom:2rem;
			}
		}
	}
	.sixty, .fourty {
		margin:0 0 2rem;
		display: flex;
	}
	&.smaller {
		padding:0 1.5rem;
		margin:0 0 2rem;
	}
	&:last-of-type {
		flex:none;
		.sixty {
			.news-item {
				flex:none;
			}
		}
	}
}
.newsers {
	.fourty, .sixty {
		padding:0 1rem;
	} 
}
.furniture-types {
	padding:7.5rem 0;
}
.flexers {
	float:left;
	width:100%;
	display: flex;
	flex-wrap:wrap;
	.third {
		position:relative;
		float:left;
		width:33.333333333%;
			img {
				transition:all 0.3s ease-in;
				display:inline-block;
				vertical-align: bottom;
			}
		.collection-slider-title {
				position:absolute;
				bottom:1.5rem;
				width:calc(100% - 3rem);
				left:1.5rem;
				background-color: $lightgreen;
				color:#fff;
				font-weight:600;
				padding:1.5rem 1.5rem 1.75rem;
				font-size:1.75rem;
				opacity:0;
			transition:all 0.3s ease-in;
				svg {
					width:2.5rem;
					position:absolute;
					top:1.5rem;
					right:2rem;
					path {
						fill:#fff;
					}
				}
			}
			&:hover {
				img {
					transform: scale(1.1);
				}
				.collection-slider-title {
					opacity:1;	
				}
			}
	}
}
.related {
	margin:4rem 0 0;
	.related-inner {
		padding:4rem 0 7.5rem;
		border-top:.1rem solid #eeeeee;
	}
	h2 {
		float:left;
		width:100%;
		//margin:0;
	}
	p {
		float:left;
		max-width:100%;
		width:80rem;
		margin-bottom:2rem;
	}
}
.crumbs-inner {
	margin:0 0 4rem;
	padding:0 0 4rem;
	border-bottom:.1rem solid #eeeeee;
	font-weight:300;
	a {
		color:$darkgreen;
		text-decoration: none;
		&:hover {
			color:$lightgreen;
		}
	}
	span {
		font-weight:500;
	}
}
.column-content {
	padding:2rem 0;
}
.cols-2 {
	column-count:2;
	column-gap: 4rem;
	p, h2 {
		break-inside: avoid;
		&:first-of-type {
			margin-top:0;
		}
	}
}
.password-input {
	float:left;
	width:100%;
}
.pager-dls {
	margin:4rem 0 0;
}
.download-cat {
	margin:3rem 0 0;
}
.flexer-type {
	display:flex;
	border-bottom:0.1rem solid #e0e0e0;
	padding:1.5rem 0;
	font-size:1.7rem;
	justify-content: center;
	.dl-title {
		flex:1;
		font-weight:300;
	}
	.dl-download {
		font-weight:600;
		padding-left:3rem;
		.greyed {
			color:#e0e0e0;
		}
		a {
			color:$darkgreen;
		}
		&.white {
			opacity:0;
		}
	}
	.dl-type {
		font-size:1.4rem;
		&.label {
			color:$lightgreen;
		}
	}
}
.l-green {
	color:$lightgreen;
}
.tax-yith_product_brand #yith-woo-ajax-navigation-7 {
	display:none;
}
.dl-info {
	font-weight:300;
	text-align: center;
	margin:-2rem 0 0;
	a {
		text-decoration: underline;
	}
}
.wrap-col-gallery {
	margin:0 -2rem;
	float:left;
	width:calc(100% + 4rem);
	position:relative;
	padding:4rem 0 8rem;
	.collection-gallery {
		.gallery-slide {
			float:left;
			width:25%;
			img {
				width:100%;
				border: .1rem solid #eee;
			}
			padding:0 2rem;
		}
	}
	.bx-controls {
		position:absolute;
		left:0;
		bottom:0;
		width:100%;
		text-align: center;
		font-size:0;
		.bx-prev, .bx-next {
		font-size:0;
		width:5rem;
		display:inline-block;
		height:5rem;
		margin:0.5rem .5rem;
		background-color: $lightgreen;
		background-size: 1.25rem auto;
		background-repeat: no-repeat;
		background-position: center;
		&.disabled {
			opacity:0.5;
			cursor:not-allowed;
		}
		&:hover {
			background-color: $darkgreen;
		}
		}
		.bx-prev {
			transform: rotate(-90deg);
			background-image: url(images/arrowup.png);
		}
		.bx-next {
			transform: rotate(-90deg);
			background-image: url(images/arrowdown.png);
		}
		}
}