/* Scss Document */
footer {
	background-color:$darkgreen;
	padding:6rem 0;
	color:#fff;
	a {
		color:#fff;
		&:hover {
			color:$lightgreen;
		}
	}
	ul {
		margin:.5rem 0 0;
		list-style: none;
		padding:0;
		float:left;
		width:100%;
		li {
			margin:0 0 1rem;
		}
	}
	.footer-title {
		border-bottom:0.1rem solid $medgreen;
		padding:0 0 1rem;
		margin:0 0 1rem;
		font-weight:700;
		font-size:1.8rem;
	}
	.fourty {
		padding-right:15rem !important;
	}
	.ccicons {
		width:22rem;
		margin:0 0 2rem;
	}
}
.social {
	margin:2.5rem 0 2.2rem;
	font-size:0;
	a {
		display:inline-block;
		width:3.5rem;
		height:3.5rem;
		line-height:3.5rem;
		text-align: center;
		color:#fff;
		font-size:1.75rem;
		border-radius:.5rem;
		background-color:$lightgreen;
		margin:0 1rem 0 0;
		i {
			font-family: "Font Awesome 5 Brands" !important;
		}
		&:hover {
			color:$darkgreen;
		}
	}
	&.alt {
		margin:1.5rem 0 1.2rem;
		a {
			background-color: $darkestgreen;
			&:hover {
				background-color: $lightgreen;
				color:#fff;
			}
		}
	}
}
.c-links {
		margin:1rem 0 0;
		a {
			display:inline-block;
			margin:0 1rem 0 0;
			font-weight:200;
			svg, span {
				display:inline-block;
				vertical-align: middle;
			}
			svg {
				width:2.2rem;
				margin:0 .5rem 0 0;
				transition:0.3s all ease-in;
				path {
					transition:0.3s all ease-in;
				}
			}
			&:hover {
				svg {
					path {
						fill:#fff;
					}
				}
			}
		}
	}
.copy-bar {
	background-color: $medgreen;
	padding:2rem 0 1rem 0;
	color:#fff;
	font-size:1.3rem;
	.copy-left {
		float:left;
	}
	.copy-right {
		float:right;
		ul {
			float:left;
			list-style: none;
			padding:0;
			margin:0;
			li {
				float:left;
				margin:0 0 1rem 1.5rem;
				a {
					color:#fff;
					&:hover {
						color:$lightgreen;
					}
				}
			}
		}
	}
}
.footer-trade {
	color:#fff;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding:10rem 2rem;
	text-align: center;
	font-size:1.3rem;
	font-weight:200;
	.wrapper-inner {
		display:inline-block;
		width:50rem;
		max-width:100%;
		h2 {
			margin-bottom:1.5rem;
			color:#fff;
		}
	}
}
.img-wrap {
	overflow: hidden;
	float:left;
	width:100%;
}
.footer-ctas {
	padding:10rem 0;
	a {
		color:#fff;
		img {
			transition:all 0.3s ease-in;
		}
		.cta-box-info {
			background-color: $darkgreen;
			padding:3.5rem 3.5rem 3.5rem;
			transition:0.3s all ease-in;
			flex:1;
			display:flex;
			flex-direction: column;
			.blurb {
				flex:1;
			}
			.button-wrap {
				margin-top:2rem;
			}
		}
		&:hover {
			.cta-box-info {
				background-color: $lightgreen;	
			}
			.button {
				background-color:$medgreen;
			}
			img {
				transform:scale(1.1);
			}
		}
	}
	img {
		display:inline-block;
		vertical-align: bottom;
	}
	.third {
		display:flex;
		a {
			display:flex;
			flex-direction: column;
		}
	}
}
.insp-corner {
	color:#fff;
	padding:17.5rem 0;
	background-repeat: no-repeat;
	background-size: 60% 100%;
	position:relative;
	.abs-image-insp {
		position:absolute;
		right:0;
		top:0;
		width:40%;
		height:100% !important;
		object-fit: cover;
	}
	.sixty {
		padding-right:12rem !important;
	}
	.logo-insp {
		margin:0 0 1rem;
		display:inline-block;
		width:14rem;
	}
	h2 {
		font-family: 'AdageScriptJF';
		font-weight:normal;
		font-size:6.5rem;
		margin:0 0 2rem;
		color:#fff !important;
	}
}
.footer-top {
		padding:0 0 4rem;
	}
.sbi_no_avatar .sbi_header_img {
	background-color:#6ea0af !important;
}