/* Scss Document */
header.row {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:1000;
	.notice {
		background-color:$lightgreen;
		text-align: center;
		color:#fff;
		font-weight:500;
		padding:1rem 2rem 1.25rem;
		transition:all 0.3s ease-in;
		font-weight:200;
		a {
			color:#fff;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		p {
			margin:0;
		}
	}
	.head-main {
		background-color:$darkgreen;
    padding: 1rem 0 0 0;
		transition:all 0.3s ease-in;
		position:relative;
		.main-menu {
			float:left;
			padding:.75rem 0 0;
			max-width:calc(100% - 38rem);
			ul {
				margin:0;
				padding:0;
				float:left;
				width:100%;
				list-style: none;
				z-index:100;
				li {
					float:left;
					margin:0 2.5rem 0 0;
					a {
						color:#fff;
						font-weight:500;
						&:hover {
							color:$lightgreen;
						}
					}
					> a {
						float:left;
						padding: 0 0 3.5rem;
					}
					&.current-menu-item {
						> a {
							color:$lightgreen;
						}
					}
					.sub-menu__wrapper {
						position:absolute;
						top:100%;
						left:0;
						width:100%;
						background-color: $darkestgreen;
						padding:4rem 0;
						display:none;
						a {
							padding-bottom:.5rem !important;
						}
						.marg {
							flex-direction: row-reverse;
							justify-content: flex-end;
						}
						li {
							float:left;
							width:100%;
    					break-inside: avoid;
						}
						.mega-link {
							.img-wrap {
								float:left;
								width:100%;
								overflow:hidden;
								margin:0 0 1rem;
							}
							img {
								display:inline-block;
								vertical-align: bottom;
								transition: all 0.3s ease-in;
							}
							.wrap-link-text {
								display:inline-block;
								span, svg {
									display:inline-block;
									vertical-align: middle;
								}
								svg {
									margin:0 0 0 1rem;
									width:2rem;
    							padding: .5rem 0 0;
									path {
										fill:$lightgreen;
									}
								}
							}
							&:hover {
								img {
									transform: scale(1.1);
								}
							}
						}
					}
					&:hover {
						.sub-menu__wrapper {
							display:block;	
						}
					}
					.menu-wrap {
						display:flex;
						flex-direction: column-reverse;
						justify-content: flex-end;
						.extra {
							margin:3rem 0 0;
							color:#fff;
							a {
								display:inline-block;
								span, svg {
									display:inline-block;
									vertical-align: middle;
								}
								svg {
									margin:0 0 0 1rem;
									width:2rem;
    							padding: .5rem 0 0;
									path {
										fill:$lightgreen;
									}
								}
							}
						}
							ul {
								padding-top:2rem;
								border-top:.1rem solid #333f42;
							}
					}
					&.two-cols {
						.menu-wrap {
							ul {
								column-count:3;
							}
						}
					}
				}
			}
		}
		.logo {
			float:left;
			padding:2rem 0 0;
			svg, img {
				width:24rem;
				float:left;
				path{
					fill:#fff;
				}
			}
			svg {
				width:24.75rem;
				margin-top:-.5rem;
				margin-left: -.25rem;
			}
		}
		.head-right {
			float:right;
			.social {
				margin:0 0 0 1rem;
				float:right;
				a {
					margin:0 0 0 1rem;
				}
			}
			.head-search-wrap {
				float:right;
				position:relative;
				width:22rem;
				input[type="text"] {
					float:left;
					width:100%;
					background-color: $darkestgreen;
					border:0;
					box-shadow:none;
					-webkit-appearance: none;
					border-radius:.5rem;
					color:#fff;
					outline:0;
					font-size:1.5rem;
					padding: .75rem 1.05rem .95rem 4rem;
					font-family: sofia-pro, sans-serif;
					font-weight:200;
				}
				input[type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
					color: #fff;
					opacity: 1; /* Firefox */
				}
				input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
					color: #fff;
				}
				input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */
					color: #fff;
				}
				input[type="submit"] {
					border-radius: 0;
					background-color: transparent;
					border: 0;
					box-shadow: none;
					-webkit-appearance: none;
					left: 1rem;
					width: 2.2rem;
					position: absolute;
					height: 2.2rem;
					top: .7rem;
					background-image: url(images/search-01.svg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
				}
			}
		}
		.head-top {
			padding:0 0 2rem;
			transition:all 0.3s ease-in;
			a {
				color:#fff;
				&:hover {
					color:$lightgreen;
				}
			}
			.c-links {
				margin-top:2rem;
				.account-link {
					display:inline-block;
					margin:0 0 0 1.5rem !important;
					a {
						margin:0;
						svg {
							display:inline-block;
							vertical-align: middle;
							margin:0;
							path {
								fill:#fff;
							}
						}
						span {
							display:inline-block;
							vertical-align: middle;
							font-weight:400;
							margin:0 .75rem 0 0;
						}
					}
					&.more-left {
						margin:0 0 0 3rem !important;
					}
				}
				a {
					&.email {
						svg {
							margin-top:.6rem;
						}
					}
				}
			}
		}
	}
	&.small {
		.head-top {
			padding:0 0 1.5rem;
		}
		.head-main {
			padding-top:0;
		.main-menu {
			ul {
				li {
					> a {
						padding-bottom:2.5rem;
					}
				}
			}
			}
		}
		/*.notice {
			height:0;
			overflow:hidden;
			padding:0;
		}*/
		&:after {
			width:100%;
		}
		.mobile-open {
			top:1.5rem;	
		}
	}
}
.menu-h { 
		display:none;
		height:0;
		overflow:hidden;
	}
.mobile-open {
  z-index: 123456789000000;
  position: absolute;
	top:2.5rem;
	left:1.5rem;
	width:4rem;
	height:3rem;
	transition:all 0.3s ease-in;
	display:none;
	overflow:auto;
	display:none;
}
.mobile-open span {
  display: block;
  position: absolute;
  height: .15rem;
  width: 60%;
  background: #fff;
  opacity: 1;
  left: 30%;
  border-radius: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.mobile-open span:nth-child(1) {
  top: 12px;
  width: 50%;
}

.mobile-open span:nth-child(2), .mobile-open span:nth-child(3) {
  top: 18px;
}

.mobile-open.open span:nth-child(2), .mobile-open.open span:nth-child(3) {
  top: 19.5px;
}

.mobile-open span:nth-child(3), .mobile-open span:nth-child(2) {
  width: 35%;
}

.mobile-open span:nth-child(4) {
  top: 24px;
  width: 50%;
}

.mobile-open.open span:nth-child(1) {
  top: 18px;
  width: 50%;
  left: 20%;
  opacity: 0;
}

.mobile-open.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 60%;
  left: 20%;
}

.mobile-open.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 60%;
  left: 20%;
}

.mobile-open.open span:nth-child(4) {
  top: 24px;
  width: 0%;
  left: 60%;
}