/* Scss Document */
@media(max-width:1440px) {
	.inside {
		padding:0 2.5rem;
	}
	.hero {
		.bx-controls {
			left:1.5rem !important;	
		}
	}
	.large-img-w-content {
		.thirty {
			padding:0 4rem 0 0 !important;
		}
	}
}
@media(max-width:1240px) {
	header.row {
		.main-menu {
			display:none;
		}
		.head-bottom {
			padding-bottom:2.5rem;
		}
	}
	&.small {
		.head-bottom {
			padding-bottom:1.5rem !important;
		}
	}
	body.active {
		height:100%;
		overflow:hidden;
	}
	header.row {
		.main-menu {
			display:none;
		}
		.mobile-open {
			display:block;
		}
		.head-bottom {
			.head-right {
				width:100%;
				.head-search-wrap {
					width: calc(100% - 14.75rem) !important;
				}
			}
		}
			.head-main {
				.head-top {
					.c-links {
						> a {
							display:none;
						}
						.account-link {
							margin-left:.5rem !important;
						}
					}
				}
			}
		.head-main {
			.logo {
				width:15rem;
				position:absolute;
				left:50%;
				padding-top:2.5rem !important;
				transform:translateX(-50%);
				svg {
					width:100%;
					margin:0;
				}
			}
		}
	}
	.menu-h {
			position:fixed;
			height:calc(100% - 9.5rem) !important;
			top:10.5rem;
			z-index:500000;
			width:100%;
			float:left;
			background-color: $darkgreen;
			display:none;
			padding:1.5rem;
			overflow:auto;
		&.small {
			top:9rem;
		}
		a {
			color:#fff;
		}
		.c-links {
			a {
				margin-bottom:1rem;
			}
		}
		ul {
			list-style:none;
			padding:0;
			margin:0 0 4rem;
			float:left;
			width:100%;
			li {
				float:left;
				width:100%;
				position:relative;
				a {
					padding:1.5rem 0;
					float:left;
					width:100%;
					border-bottom:.1rem solid #566569;
					&:hover {
						color:$lightgreen;
					}
				}
				&.menu-item-has-children {
					position:relative;
					.open-sub-sub {
						position: absolute;
						top: 1.5rem;
						float: left;
						width: 2em;
						height: 2rem;
						right: 0;
						background-image: url(images/plus-01.svg);
						background-position: center;
						background-repeat: no-repeat;
						background-size:1.5rem auto;
						cursor:pointer;
						z-index:300;
						&.open {
							background-image: url(images/minus-01.svg);
						}
					}
				}
				.sub-menu {
					height:0;
					overflow:hidden;
					transition:all 0.3s ease-in;
					float:left;
					width:100%;
					margin:0;
					&.open {
						height:auto;
						padding:2rem 0 1rem;
					}
					li {
						float:left;
						width:50%;
						a {
							padding:.5rem 0;
							font-size:1.5rem;
							border:0;
						}
						.open-sub-sub { 
							display:none;
						}
					}
				}
			}
		}
	}
}
@media(max-width:1250px) {
.main-shop {
	.type-product {
		display:block;
		padding:0;
		text-align: center;
		.woocommerce-product-gallery {
			float:none !important;
			margin:0 auto;
			padding:0 7rem 4rem;
			width:85% !important;
		}
		.summary	{
			width:100% !important;	
			padding:0;
			text-align: left;
		}
	}
}
}
@media(max-width:1000px) {
	.prod-grid.de .main-shop .woo-main ul.products {
		li.product {
			width:31% !important;
			margin-right:3.5% !important;
			&:nth-of-type(2n) {
				margin-right:3.5% !important;
			}
			&:nth-of-type(3n) {
				margin-right:0 !important;
			}
		}
	}
.main-shop {
	.type-product {
		.woocommerce-product-gallery {
			width:100% !important;
			padding-right:0;
		}
	}
}
	.woocommerce .woo-main .woocommerce-page ul.products li.product, .woocommerce .woo-main ul.products li.product.last {
		margin-right:3.8% !important;
		&:nth-of-type(2n) {
			margin-right:0 !important;
		}
	}
	.large-img-w-content {
		.thirty {
			padding:0 1.5rem 0 4rem !important;
			width:50% !important;
		}
		.seventy {
			width:50% !important;
		}
		img {
			width:50% !important;
		}
	}
	.flexers {
		.third {
			width:50%;
		}
	}
	.woo-side {
		width:35% !important;
	}
	.woo-main {
		padding-right:0 !important;
	}
	.featured-category {
		.woo-side {
			padding:0 0 0 2rem !important;
		}
	}
	.wrap-ctas {
		overflow:auto;
		white-space: nowrap;
		width:auto;
		.third {
			width:35rem !important;
			white-space:normal;
			float:none;
			display:inline-block;
		}
	}
	.wrap-ctas::-webkit-scrollbar {
		display: none;
	}
	footer {
		.fourty {
			width:100% !important;
			padding-right:0 !important;
			padding-bottom:3rem !important;
		}
		.sixty {
			width:100% !important;
		}
	}
	.hero {
		.hero-image {
			width:50%;
		}
		.fourty {
			width:50%;
			padding-right:11rem;
		}
	}
	.woo-main {
		.products li.product {
			width:48.1% !important;
			margin-right:3.8% !important;
			&:nth-of-type(2n) {
				margin-right:0 !important;
			}
			&.last {
				margin-right:3.8% !important;
				&:nth-of-type(2n) {
					margin-right:0 !important;
				}
			}
		}
	}
	.main-shop {
		.type-product {
			padding:0;		
		}
	}
	.woo-main {
		padding:0 0 0 calc(35% + 2rem);
	}
	.flex-this {
		&.smaller {
			display:block;
			.news-item {
				width:100% !important;
				margin-left:0 !important;
				&:last-of-type {
					margin-top:3rem !important;
				}
			}
		}
	}
}
@media(max-width:800px) {
	.prod-grid.de .main-shop .woo-main ul.products {
		li.product {
			width:48% !important;
			margin-right:4% !important;
			&:nth-of-type(3n) {
				margin-right:4% !important;
			}
			&:nth-of-type(2n) {
				margin-right:0 !important;
			}
		}
	}
.account-link {
	span {
		display:none !important;
	}	
}
	.marg.account-halves {
		.half{
			&:last-of-type {
				padding:0 2rem !important;
			}
			&:first-of-type {
				padding:0 2rem !important;
			}
		}
	}
	.notice {
		font-size:1.3rem;
		font-weight:600;
	}
	.flex-this {
		display:block;
		&.smaller {
			display:block;
		}
		.sixty, .fourty {
			width:100%;
		}
		.news-item {
			&.widest {
				display:block;
				.img-item-news {
					width:25rem !important;
					left:0;
					right:auto;
				}
				.wrap-cta {
					width:calc(100% - 25rem) !important;
					float:right;
				}
			}
		}
	}
.main-shop {
	.type-product {
		.woocommerce-product-gallery {
			display:block;
			padding-left:0 !important;
			.custom-slider, .flex-viewport {
				width:100%;
				margin:0 !important;
			}
			> .bx-wrapper {
				display:none;
			}
		}
		.wrap-mobile-thumbs {
			display:block;
			padding:0 0 3rem;
			position:relative;
			z-index:200;
			margin-top:-4rem;
			width:92%;
			margin-left:4%;
			&.on-prod {
				margin-top:-13rem;
			}
			.bx-viewport {
				padding-bottom:2rem;
				box-sizing: content-box;
			}
			li {
				img {
					border:.1rem solid #eeeeee;
				}
			}
			.bx-controls {
				margin-top:3rem;
				.bx-prev, .bx-next {
						font-size:0;
						width:5rem;
						display:inline-block;
						height:5rem;
						margin:0.5rem 1rem;
						background-color: $lightgreen;
						background-size: 1.25rem auto;
						background-repeat: no-repeat;
						background-position: center;
						&.disabled {
							opacity:0.5;
							cursor:not-allowed;
						}
						&:hover {
							background-color: $darkgreen;
						}
					}
					.bx-prev {
						transform: rotate(-90deg);
						background-image: url(images/arrowup.png);
					}
					.bx-next {
						transform: rotate(-90deg);
						background-image: url(images/arrowdown.png);
					}
			}
		}
	}
}
.woo-main {
		padding:3rem 0 0;
		float:left;
	width:100%;
	}
.hero {
	.slide {
		padding:39.5rem 0 9rem 0 !important;
		.hero-image {
			width:100% ;
			height:37.5rem !important;
		}
		.fourty {
			width:100%;
			padding:0 2rem !important;
		}
	}
}
	.brand-hero, .more-inf {
		padding:39.5rem 0 3rem 0 !important;
		.hero-image, img, .abs-image-insp-alt {
			width:100% !important;
			height:37.5rem !important;
		}
		.fourty, .half {
			width:100%;
			padding:0;
		}
	}
	.features-collection {
		.sixty {
			display:none;
		}
		.fourty {
			width:100%;
		}
	}
	.insp-corner {
		background-size: cover;
		padding:4rem 0;
		.abs-image-insp {
			position:static;
			margin:4rem 0 -4rem;
			width:100%;
			display:inline-block;
			vertical-align: bottom;
		}
		.sixty {
			width:100%;
			padding:0 2rem !important;
		}
	}
	.marg {
		.half {
			width:100%;
		}
	}
	.woo-side, .woo-main {
		width:100% !important;
	}
	.woo-side {
		padding-bottom:3rem;
	}
	.flexer {
		flex-direction: column;
	}
	.featured-category {
		padding:4rem 0 !important;
		.flexer {
			flex-direction: column-reverse;
			.woo-side {
				padding:0 0 3rem!important;
			}
		}	
	}
	.test-snippet {
		padding:6rem 0;
	}
	.copy-bar {
		.copy-left, .copy-right {
			width:100%;
		}	
		.copy-right {
			margin:1.5rem 0 0;
			ul {
				li {
					margin:0 2rem 1rem 0;
				}
			}
		}
	}
	.large-img-w-content {
		padding:5rem 0 !important;
		.thirty {
			width:100% !important;
			padding:0 2rem 4rem !important;
		}
		.seventy {
			display:none;
		}
		img {
			position:static;
			width:100% !important;
		}
	}
	.collections-slider {
		.wrap-collections-slider-intro {
			padding-bottom:9rem;
		}
		.collections-slider-buttons {
			bottom:2.5rem;
			left:0;
			top:auto !important;
			right:auto !important;
			div {
				margin:0 1rem 0 0 !important;
			}
		}
		.make-v-slider {
			.collections-slider-link {
				width:40rem !important;
				.collection-slider-title {
					padding: 1rem 1.5rem;
    			font-size: 1.75rem;
					svg {
						right:1rem;
						top:1rem;
					}
				}
			}
		}
	}
	.h-img-h-content {
		.half {
			&:first-of-type {
				padding-right:1.5rem !important;
				padding-bottom:3rem;
			}
			&:last-of-type {
				padding-left:1.5rem !important;
			}
		}
	}
	.wrap-crumbs {
		padding-bottom:3rem;
		margin:0 0 3rem;
    border-bottom: .1rem solid #eee;
		.woocommerce-breadcrumb {
			border:0;
		}
		.woo-nav {
			right:auto !important;
			left:0 !important;
			bottom:4rem !important;
			top:auto !important;
		}
	}
	.filter-collections {
		padding:0 0 4rem;
	}
	.cols-2 {
		column-count:1;
	}
}
@media(max-width:575px) {
	.woo-main {
		.products li.product {
			margin:0 !important;
			width:100% !important;
		}	
	}
	.prod-grid.de .main-shop .woo-main ul.products {
		li.product {
			width:100% !important;
			margin-right:0 !important;
			&:nth-of-type(3n) {
				margin-right:0 !important;
			}
			&:nth-of-type(2n) {
				margin-right:0 !important;
			}
		}
	}
	.woocommerce {
		.woocommerce-result-count {
			clear:both !important;
			display:block;
			margin:0 0 1rem !important;
		}
	}
	.contact-area-links {
		a {
			svg {
				padding:.75rem;
				width:3.5rem;
				height:3.5rem;
			}
		}
	}
	footer {
		.sixty {
			.third {
				width:100% !important;
				padding-top:1rem;
				.footer-title {
					padding-right:5rem;
					background-image: url(images/plus-01.svg);
					background-repeat: no-repeat;
					background-position: top right;
					background-size:2rem;
					cursor:pointer;
					&.open {
						background-image: url(images/minus-01.svg);
					}
				}
				> ul {
					height:0;
					overflow:hidden;
					transition:all 0.3s ease-in;
					&.open {
						height:auto;
					}
				}
			}
		}
	}
	.flexers {
		.third {
			width:100%;
		}
	}
	.flex-this {
		.news-item {
			&.widest, &.wider {
				display:block;
				padding-top:25rem;
				padding-right:0;
				padding-left:0;
				.img-item-news {
					width:100% !important;
					left:0;
					right:auto;
					height:25rem !important;
					min-height:25rem !important;
				}
				.wrap-cta {
					width:calc(100%) !important;
					float:right;
				}
			}
			.img-item-news {
					width:100% !important;
					left:0;
					right:auto;
					height:25rem !important;
					min-height:25rem !important;
				}
		}
	}
}
@media(max-width:415px) {
	.logo {
		transform:none !important;
		left:5.5rem !important;
	}
	header.row {
		.head-bottom .head-right {
			.head-search-wrap {
				width:100% !important;
			}
		}
		.social {
			display:none !important;
		}
	}
}