/* Scss Document */
h2 {
	font-weight:600;
	font-size:3rem;
	margin:0 0 2rem;
	color:$darkgreen;
}
h1, .slide h2 {
	color:$darkgreen;
	font-size: 2em;
	font-weight:600;
	margin:0;
}
h3 {
	font-weight:600;
	font-size:2.1rem;
	margin:0 0 1.5rem;
}