/* Scss Document */
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
	color:#fff !important;
	padding: 1.5rem 1rem 1.7rem !important;
  border-radius: 2.5rem !important;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  font-size: 1.6rem;
	background-color: $lightgreen !important;
	&:hover {
		background-color: $medgreen !important;
	}
}
.woocommerce-info, .woocommerce-message {
    border-top-color:$lightgreen !important;
}

.woocommerce-info::before, .woocommerce-message::before {
	color:$lightgreen !important;
}

.woocommerce {
.woo-main {
	ul.products li.product, .woocommerce-page ul.products li.product {
    float: left;
    margin: 0 1.2666666% 2rem 0;
    padding: 0;
    position: relative;
    width: 24.05%;
    margin-left: 0;
		&.last {
			margin-right:0 !important;
		}
	}
}
}
.prod-grid {
.woo-main {
	ul.products li.product, .woocommerce-page ul.products li.product {
    float: left;
    margin: 0 1.2666666% 2rem 0;
    padding: 0;
    position: relative;
    width: 24.05% !important;
    margin-left: 0;
		&.last {
			margin-right:1.2666666% !important;
		}
		&:nth-of-type(4n) {
			margin-right: 0 !important;
		}
	}
}
}